/* Especifico da página projectNEW */

.etapa {
    /* margin-left: 3%; */
    margin-left: 40px;
    /* margin-bottom: 2%; */
    margin-bottom: 30px;
}

.form-input-text, .form-input-number, .form-input-file, .form-text-area{
    width:100%;
}


#errormsg, #errormsgfb, #errormsgenunc, #errormsgedit {
    background: rgb(255, 72, 72);
}

#successmsg, #successmsgfb, #successmsgenunc, #successmsg_editar, #successmsg_criar{
    background: rgba(106, 192, 66, 0.7);
}


.form-label-title{
    font-weight: 600;
}

#addEtapa, #addEtapa img, .labelRemove, .labelRemove img{
    width:30px;
    border-radius: 15px;
}

#addEtapa, .labelRemove{
    cursor:pointer;
}

#removeEtapa img{
    margin-left: 65px;
    position: absolute;
    margin-top: -42px;
}

#addEtapa:hover, .labelRemove img:hover{
    background-color:rgb(194, 194, 194);
}

.form-input-number{
    width: unset;
    display: flex;
    min-width: 48%;
}


@media screen and (max-width: 460px) {
    .form-input-number{
        width: 100%;
    }

    .form-input-number:first-of-type{
        /* margin-bottom: 1%; */
        margin-bottom: 30px;
    }
}


.pminmax{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pminmax label{
    min-width:100%;
}

/* Especifico da página project */

#addEnunciadoForm, #form-upload-etapa{
    display: none;
}

#removeEnunciado {
    margin-left: 115px;
    width: 30px;
    margin-top: -73px;
    position: absolute;
}

#removeEnunciadoProj {
    width: 30px;
    margin-top: -48px;
    margin-left: 115px;
}



@media screen and (max-width: 660px) {
    #removeEnunciado img {
        width: 25px;
    }

    #removeEnunciado {
        margin-left: 96px;
        margin-top: -62px;
        width: 30px;
        position: absolute;
    }
}


.buttons-container input{
    margin:unset;
}



#addEnunciado{
    display: none;
}

input.remove{
    background-color: #fc8982;
    margin: unset;

}

input.remove:hover {
    background-color: #ff544b;
}

#confirmFeedback{
    display: none;
}

#opennewEtapa{
    margin-bottom: 30px;
}


