.etapa {
    margin-bottom: 30px;
}

.form-input-text, .form-input-number, .form-input-file, .form-text-area{
    width:100%;
}

.form-input-number{
    width: unset;
    display: flex;
    min-width: 49%;
}

.labelRemove {
    position: relative;
}

.submit-msg {
    display:none;
    text-align: center;
    width: 100%;
    padding: 4px;
    position: relative;
    margin-top: 10px;
}


#inputsduo {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


#projForm .form-input-text{
    background-color: white;
}

#inputsduo label {
    width: 49%;
}

@media screen and (max-width: 460px) {
    .form-input-number{
        width: 100%;
    }

    .form-input-number:first-of-type{
        margin-bottom: 30px;
    }
}


.pminmax{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pminmax label{
    min-width:100%;
}