/* Especifico da página project */

#inputs-popup input, .form-text-area, .form-input-date {
    width:100%;
    background: #e9e9e9;
}

#addEnunciadoForm, #form-upload-etapa{
    display: none;
}

textarea:disabled{
    border-left-color:#333 !important;
}

textarea{
    height: 110px;
}

#removeEnunciado {
    margin-left: 115px;
    width: 30px;
    margin-top: -73px;
    position: absolute;
}

#removeEnunciadoProj {
    width: 30px;
    margin-top: -48px;
    margin-left: 115px;
}

#ul-buttons{
    display: none;
}


@media screen and (max-width: 660px) {
    #removeEnunciado img {
        width: 25px;
    }

    #removeEnunciado {
        margin-left: 96px;
        margin-top: -62px;
        width: 30px;
        position: absolute;
    }
}


.buttons-container input{
    margin:unset;
}

.cd-popup-container .cd-buttons li:first-child a {
    background-color: #3e5d4f;
}

input.remove{
    background-color: #fc8982;
    margin: unset;

}

input.remove:hover {
    background-color: #ff544b;
}

#opennewEtapa{
    margin-bottom: 30px;
}

#addEnunciado {
    display:none;
}
