#calendario-hook .inner {
    display: flex;
    width: 100%;
    text-align: center;
    margin: -5px;
    overflow-x: scroll;
    padding-bottom: 15px;
}
#calendario-hook .col {
    margin: 5px;
    border: 1px solid #aaa;
    height: fit-content;
    height: -moz-max-content;
    height: -webkit-max-content;
    height: -o-max-content;
}
#calendario-hook .hcell,
#calendario-hook .cell {
    display: flex;
    flex-direction: column;
    padding: 5px 7px;
    max-width: 190px;
}
#calendario-hook .hcell {
    background-color: #ddd;
}
#calendario-hook .hcell .week {
    text-transform: capitalize;
    font-size: 10px;
}
#calendario-hook .cell {
    border-top: 1px solid #aaa;
    background-color: white;
    position: relative; 
    min-width: 50px;
}
#calendario-hook .cell:hover {
    background-color: #ccc !important;
    cursor: pointer;
}
#calendario-hook .cell .start {
    font-weight: bold;
    font-size: 13px;
}
#calendario-hook .cell .desc {
    font-size: 13px;
    font-weight: bold;
    margin: 5px 0px;
}
#calendario-hook .cell .end {
    font-size: 13px;
}
#calendario-hook .cell .clickable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#calendario-hook .whitespace {
    min-width: 50px;
}


#calendario-hook ::-webkit-scrollbar {
    height: 7px;
}
#calendario-hook ::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 5px;
}
#calendario-hook ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px; 
}
#calendario-hook ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* 
.calendario-msg {
    regras do pop up
} */