#mens_erro_user, #informacaoUsers{
    font-size: 13px;
}

li p{
    font-size: 13px;
    color: grey;
    margin-bottom: 0;
}

#leftSideChat{
    /* background: #f8f8f8 none repeat scroll 0 0; */
    float: left;
    overflow: hidden;
    width: 230px;
    border-right: 1px solid #c4c4c4;
}

.list-group {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    /* -ms-flex-direction: column; */
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.list-group-class{
    position: relative;
    display: block;
    padding: .75rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    cursor: pointer;
}

#chatList{
    padding: 0px 8px 0px 0px;
    max-height: 65vh;
    overflow-y: auto
}

.input-group{
    padding-bottom: 10px;
}


.chat-container{
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
}

.msg-history{
    height: 516px;
    overflow-y: auto;
}

.received-msg{
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received-msg-width{
    width: 57%;
}

.received-msg-width p{
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date{
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

