
body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
main{
    margin: auto;
    text-align: center;
    width: auto;
}
.error-code {
    position: fixed;
    top: 5px;
    left: 5px;
    color: white;
}
h1 {
    color: white;
    text-shadow: 1px 1px 1px black;
}
a {
    border: 1px solid #15435a;
    background-color: white;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}