/* geral - especificações feitas tendo como base area de um grupo. Nas outras paginas alterar no css proprio*/
.file-div input[type=file] {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#success {
    background: rgba(106, 192, 66, 0.7);
    display:none;
    text-align: center;
    padding: 2px;
}

.file-div {
    width: 100%;
    height: 100px;
    background: rgba(21, 78, 90, 0.60);
    opacity: 1;
    border: 2px dashed white;
    text-align: center;
    transition: white 0.3s ease-in-out;
}

#upload-file-div:hover{
    background: rgba(21, 78, 90, 0.50);
}

.file-text {
    width: 100%;
    text-align: center;
    transition: transparent 0.3s ease-in-out;
    margin-top: -60px;
    color: black;
    -ms-overflow-style: none;
    z-index: 10;
}

.success-file{
    display: none;
    overflow-x: auto;
    white-space: nowrap;
    height: 30px;
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.file-text ::-webkit-scrollbar {
    display: none;
}

.error-file{
    display: none;
    color: red;
}

#show-files-div{
    height: auto;
    border: 0px;
    background:transparent;
}

#show-files-div hr{
    margin-top:-5px;
    border-top-color:black;
    border-bottom-color: black;
}

.file-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.file-row p{
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
}

.file-row p > a{
    color:#15435a;
    text-decoration: none;
    font-weight: 600;
}

.file-row p > a:hover{
    color: rgb(20, 118, 167);
    text-decoration: underline;
}

.file-row p:first-child {
    width: 45%;
    text-align: left;
}

.file-row p:nth-child(2) {
    width: 50%;
    text-align: left;
}

.file-row p:nth-child(3) {
    width: 5%;
}

.delete_img {
    width: 20px;
    cursor: pointer;
}

.delete_img:hover{
    opacity: 0.6;
}

@media screen and (max-width: 768px) {

    .file-text{
        margin-top:-75px;
    }

    .default-file, .error-file, .success-file {
        margin-top: 14px;
    }
}