body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main{
    margin: auto;
    text-align: center;
    width: unset;
    padding: 5px;
}

label {
    color: white;
    text-shadow: 1px 1px 1px black;
}

input{
    margin: auto;
}

#imgLogo {
    width: 100px;
}

form > .error-msg {
    color: white;
    font-size: 10px;
    background-color: crimson;
    margin-top: 10px;
    border-radius: 3px;
    visibility: hidden;
}