#mobile-navbar {
    display: none;
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    background-color: #154e5a;
    z-index: 200;
    color: white;
}
#mobile-navbar .right {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}
#mobile-navbar .right .img {
    width: 28px;
    height: 28px;
    margin: 0px 10px;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #aaa;
}
#mobile-navbar .right .img img {
    width: 100%;
    height: 100%;
}
#mobile-navbar .btn-notifications img{
    width: 20px;
    vertical-align: middle;
}
#mobile-navbar .btn-notifications {
    margin: 0px 5px;
    position: relative;
}
#nav-menu-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 220px;
    height: 100%;
    transition: 0.5s;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
#nav-menu-hook {
    background-color: #154e5a;
    width: 220px;
    min-width: 220px;
    min-height: 100%;
    position: relative;
    transition: 0.5s;
}
#nav-menu-hook hr{
    width: 50px;
    border-bottom: 0.2px solid white;
}
#nav-menu-toggle {
    font-weight: bold;
    display: none;
    padding: 20px 10px;
    margin-right: 0px;
    font-size: 30px;
    line-height: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
}
@media(max-width: 767px){
    #nav-menu-hook {
        margin-left: -220px;
    }
    #nav-menu-container{
        left: -220px;
        padding-top: 40px;
        height: calc(100% - 40px);
    }
    #nav-menu-container.active{
        left: 0px;
    }
    #nav-menu-hook.active {
        margin-left: 0px;
    }
    #nav-menu-toggle {
        display: block;
    }
    #mobile-navbar {
        display: block;
    }
    body {
        padding-top: 40px;
        
    }
    main {
        min-width: 100%;
    }
}
.nav-menu-user-section {
    padding: 10px;
}
.nav-menu-profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    overflow: hidden;
    border: 1px solid white;
    margin: 10px auto;
    display: block;
    position: relative;
}
.nav-menu-profile-picture img {
    width: 100%;
    height: 100%;
}
.nav-menu-profile-picture-hover {
    width: 100%;
    height: 100%;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 40%;
    text-decoration: none;
    color: rgba(0,0,0,0);
    transition: 0.1s;
}
.nav-menu-profile-picture-hover:hover {
    background-color: rgba(0,0,0,0.3);
    color: white;
}
.nav-menu-user-name {
    color: #fff;
    text-align: center;
}
#nav-menu-hook ul {
    padding: 0px;
}
#nav-menu-hook li {
    list-style-type: none;
    padding: 10px;
}
#nav-menu-hook li:hover {
    background: rgb(255,255,255,0.1);
}
#nav-menu-hook a:visited,
#nav-menu-hook a {
    text-decoration: none;
    color:white;
}
.nav-menu-selected-link{
    background: rgb(255,255,255,0.2);
    position: relative;
}
.nav-menu-selected-link::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; 
    border-right: 8px solid #efefef; 
}
.nav-menu-btn {
    text-align: center;
    color: #ccc;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
}
.nav-menu-btn:hover {
    color: white;
}
#nav-menu-hook ::-webkit-scrollbar {
    width: 0px;
}
#nav-menu-hook .btn-notifications img{
    width: 100%;
}
#nav-menu-hook .btn-notifications {
    width: 20px;
    margin: 5px auto;
    position: relative;
}
#nav-menu-hook .alert,
#mobile-navbar .alert {
    position: absolute;
    top: 10px;
    right: -10px;
    width: 15px;
    height: 15px;
    background-color: crimson;
    border-radius: 10px;
    font-weight: bold;
    font-size: 10px;
}
#mobile-navbar .alert {
    top: 3px;
    left: -15px;
}
#nav-menu-hook .alert.hidden,
#mobile-navbar .alert.hidden {
    visibility: hidden;
}

/*    AGENDA    */

#nav-menu-agenda{
    color: white;
    text-align: center;
}
#nav-menu-agenda .col {
    border-radius: 3px;
    overflow: hidden;
    margin: 8px 10px;
}
#nav-menu-agenda .hcell,
#nav-menu-agenda .cell {
    padding: 5px;
}
#nav-menu-agenda .hcell {
    background-color: rgba(255,255,255,0.2);
    font-size: 10px;
}
#nav-menu-agenda .cell {
    background-color: white;
    color: black;
    text-align: left;
    font-size: 11px;
    display: flex;
    border-top: 1px solid #154e5a;
}
#nav-menu-agenda .cell .time {
    min-width: 40px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
#nav-menu-agenda .nothing {
    font-size: 12px;
}

/*    NOTIFICAÇÕES    */
.nav-notifications.hidden {
    display: none;
}
.nav-notifications {
    font-size: 12px;
    padding-bottom: 10px;
}
.nav-notifications .notification {
    margin: 8px 10px;
    display: flex;
    align-items: center;
    background-color: rgba(255,255,255,0.2);
    border-radius: 3px;
    overflow: hidden;
}
.nav-notifications .icon img{
    width: 100%;
    height: 100%;    
}
.nav-notifications .icon {
    width: 20px;
    height: 20px;
    min-width: 20px;
    margin: 0px 5px;
}
.nav-notifications .body {
    background-color: white;
    width: 100%;
}
.nav-notifications .body > a > div{
    padding: 5px 8px;
}
.nav-notifications .body > a{
    color: black !important;
    text-decoration: none;
}
.nav-notifications .body:hover {
    background-color: rgba(255,255,255,0.85);
}
.nav-notifications .title {
    font-weight: 500;
}
.nav-notifications .content {
    font-size: 10px;
    color: #154e5a;
}
.nav-notifications .date {
    font-size: 10px;
    text-align: center;
}
.nav-notifications .nothing {
    font-size: 11px;
    color: white;
    text-align: center;
}
.nav-notifications .see-more {
    margin: 8px 10px;
}
.nav-notifications .see-more a div:hover {
    background-color: rgba(255,255,255,0.3);
}
.nav-notifications .see-more a div{
    background-color: rgba(255,255,255,0.2);
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    font-size: 10px;
}