#mobile-navbar {
    display: none;
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    background-color: #3e5d4f;
}
#nav-menu-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 220px;
    transition: 0.5s;
    max-height: 100%;
    overflow-y: scroll;
}
#nav-menu-hook {
    background-color: #3e5d4f;
    width: 220px;
    min-width: 220px;
    position: relative;
    transition: 0.5s;
}
#nav-menu-hook hr{
    width: 50px;
    border-bottom: 0px;
}
#nav-menu-toggle {
    color: #fff;
    font-weight: bold;
    display: none;
    padding: 20px 10px;
    margin-right: 0px;
    font-size: 30px;
    line-height: 0;
    cursor: pointer;
}
@media(max-width: 767px){
    #nav-menu-hook {
        margin-left: -220px;
    }
    #nav-menu-container{
        left: -220px;
        top: 40px;
    }
    #nav-menu-container.active{
        left: 0px;
    }
    #nav-menu-hook.active {
        margin-left: 0px;
    }
    #nav-menu-toggle {
        display: block;
    }
    #mobile-navbar {
        display: block;
    }
    body {
        padding-top: 40px;
    }
    main {
        min-width: 100%;
    }
}
.nav-menu-user-section {
    padding: 10px;
}
.nav-menu-profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    overflow: hidden;
    border: 1px solid white;
    margin: 10px auto;
    display: block;
    position: relative;
}
.nav-menu-profile-picture img {
    width: 100%;
    height: 100%;
}
.nav-menu-profile-picture-hover {
    width: 100%;
    height: 100%;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 40%;
    text-decoration: none;
    color: rgba(0,0,0,0);
    transition: 0.1s;
}
.nav-menu-profile-picture-hover:hover {
    background-color: rgba(0,0,0,0.3);
    color: white;
}
.nav-menu-user-name {
    color: #fff;
    text-align: center;
}
#nav-menu-hook ul {
    padding: 0px;
}
#nav-menu-hook li {
    list-style-type: none;
    padding: 10px;
}
#nav-menu-hook li:hover {
    background: rgb(255,255,255,0.1);
}
#nav-menu-hook a:visited,
#nav-menu-hook a {
    text-decoration: none;
    color:white;
}
.nav-menu-selected-link{
    background: rgb(255,255,255,0.2);
    position: relative;
}
.nav-menu-selected-link::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; 
    border-right: 8px solid #efefef; 
}
.nav-menu-btn {
    text-align: center;
    color: #ccc;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}
.nav-menu-btn:hover {
    opacity: 0.8;
}


#nav-menu-hook ::-webkit-scrollbar {
    width: 0px;
}