/* Peguei apenas nas classes necessarias do css original */

.paginationjs {
    line-height: 1.6;
    font-size: 14px;
    box-sizing: initial;
}

.paginationjs .paginationjs-pages li>a {
    min-width: 30px;
    height: 28px;
    line-height: 28px;
    display: block;
    background: #fff;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    text-align: center;
}

.paginationjs .paginationjs-pages {
    float: left;
}

.paginationjs .paginationjs-pages ul {
    float: left;
    margin: 0;
    padding: 0;
}

.paginationjs .paginationjs-pages li:first-child, .paginationjs .paginationjs-pages li:first-child>a {
    border-radius: 3px 0 0 3px;
}

.paginationjs .paginationjs-pages li {
    float: left;
    border: 1px solid #aaa;
    border-right: none;
    list-style: none;
}

.paginationjs .paginationjs-pages li.disabled>a {
    opacity: .3;
}

.paginationjs .paginationjs-pages li.active {
    border: none;
}

.paginationjs .paginationjs-pages li.active>a {
    height: 30px;
    line-height: 30px;
    background: #aaa;
    color: #fff;
}

.paginationjs .paginationjs-pages li:last-child {
    border-right: 1px solid #aaa;
    border-radius: 0 3px 3px 0;
}