main {
    margin: -10px;
}

.form-error-message {
    font-size: 10px;
    color: red;
}
.picture-form{
    display: block;
    text-align: center;
}
.picture-form input[type=file] {
    border: none;
    background-color: transparent;
    padding-left: 0px;
    margin: auto;
}
.picture-form input[type=submit] {
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: white;
}



.profile-edit h3 {
    text-align: center;
    margin-bottom: 0px;
}
form.profile-edit-user {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 20px);
    margin: -10px;
}
form.profile-edit-user > div{
    box-sizing: border-box;
}
form.profile-edit-user .left input {
    width: 100%;
    padding: 5px 3px;
}
form.profile-edit-user textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 5px 3px;
}
form.profile-edit-user .left {
    width: 35%;
    padding: 10px;
}
form.profile-edit-user .right {
    width: 65%;
    padding: 10px;
}
form.profile-edit-user input[type=submit]{
    display: block;
}
@media(max-width: 767px) {
    form.profile-edit-user .left {
        min-width: 100%;
    }
    form.profile-edit-user .right {
        min-width: 100%;
    }
}


.header {
    display: flex;
    flex-wrap: wrap;
}
.header > img {
    width: 170px;
    height: 170px;
    border-radius: 200px;
    border: 1px solid #555;
}
.header-info {
    padding: 10px 20px;
    align-self: center;
}
.header-info .name {
    font-weight: bold;
    font-size: 30px;
}
.header-info .name span{
    font-weight: 300;
    font-size: 18px;
    color: #555;
}
.header-info .bio pre {
    color: #888;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}