
* {
    /* Cross browser compatibility things */
    -moz-appearance: none;
    -webkit-appearance: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Poppins', sans-serif !important;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
}

h1{
    font-size:28px;
}

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height:100%;
    overflow-x: hidden;
    /* font-size-adjust:0.5; */
}
body {
    display: flex;
    font-family: 'Poppins', sans-serif !important;
    background-color: #efefef;
    box-sizing: border-box;
}
main {
    width: calc(100% - 220px);
    padding: 3% 5%;
    box-sizing: border-box;
    overflow-y: auto;
}
input, select, textarea {
    text-align: left;
    border: none;
    border-left: 3px solid transparent;
    border-radius: 3px;
    background-color: white;
    display: block;
    padding: 5px 10px;
    font-family: 'Poppins', sans-serif;
}

select {
    width:100%;
    background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%),linear-gradient(to right, #ccc, #ccc);
    background-position:calc(100% - 6px) calc(1em + 2px),calc(100% - 1px) calc(1em + 2px),calc(100% - 1.2em) 0.5em;
    background-size:5px 5px,5px 5px,1px 1.5em;
    background-repeat: no-repeat;
}

input[type=button],input[type=submit]{
    margin: 20px auto;
    border: 1px solid #3e5d4f;
    text-align: center;
    cursor:pointer;
    font-weight: bold;
}

input[type=button]:hover,
input[type=submit]:hover {
    background-color: #eee;
}

/* pseudo classes - não adicionei para o select porque não sei como estão a usar @david */

input:focus, textarea:focus{
    outline-color: #3e5d4f;
}

input:required:valid, textarea:required:valid{
    border-left-color:lawngreen;
}

input:required, textarea:required {
    border-left-color:red;
}

label {
    display: block;
    margin-top: 15px;
    color: #3e5d4f;
}
table {
    background-color: white;
    border-collapse: collapse;
}
table td{
    padding: 5px 10px;
}
table, tr, td, th {
    border: 1px solid #aaa;
}

h4.breadcrumb a, h4.breadcrumb{
    color: #78837e;
    text-decoration: none;
}

/* mensagem sobre o tamanho dos ficheiros. é um <p><b>msg</b></p> */
.msg-warning-size{
    font-size: 12px;
    color: rgb(255, 72, 72);
}

@-moz-document url-prefix() {
    html {
        font-size: 1em;
    }
}