html, body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #efefef;
    margin: 0px;
    padding: 0px;
}
body {
    display: flex;
}

main {
    padding: 20px;
    box-sizing: border-box;
}

#nav-menu-hook {
    background-color: #225;
    width: 220px;
}
#nav-menu-hook hr{
    width: 50px;
    border-bottom: 0px;
}
.nav-menu-user-section {
    padding: 10px;
}
.nav-menu-profile-picture {
    border-radius: 100px;
    margin: 10px auto;
    display: block;
    width: 100px;
    border: 1px solid white;
}
.nav-menu-user-name {
    color: #ddd;
    text-align: center;
}
#nav-menu-hook ul {
    padding: 0px;
}
#nav-menu-hook li {
    list-style-type: none;
    padding: 10px;
}
#nav-menu-hook li:hover {
    background: rgb(255,255,255,0.1);
}
#nav-menu-hook li a:visited,
#nav-menu-hook li a {
    text-decoration: none;
    color:white
}
.nav-menu-selected-link{
    
    background: rgb(255,255,255,0.2);
}