
html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
body {
    display: flex;
    font-family: 'Poppins', sans-serif;
    background-color: #efefef;
}
main {
    width: 100%;
    padding: 3% 5%;
    box-sizing: border-box;
}
input, select, textarea {
    text-align: left;
    border: none;
    border-left: 3px solid white;
    border-radius: 3px;
    background-color: white;
    display: block;
    padding: 5px 10px;
}
input[type=button],input[type=submit]{
    margin: 20px auto;
    border: 1px solid #3e5d4f;
    text-align: center;
    cursor:pointer;
}

input[type=button]:hover,
input[type=submit]:hover {
    background-color: #eee;
}

/* pseudo classes - não adicionei para o select porque não sei como estão a usar @david */

input:focus, textarea:focus{
    outline-color: #3e5d4f;
}

input:required:valid, textarea:required:valid{
    border-left-color:lawngreen;
}

input:required, textarea:required {
    border-left-color:red;
}

label {
    display: block;
    margin-top: 15px;
    color: #3e5d4f;
}
table {
    background-color: white;
    border-collapse: collapse;
}
table td{
    padding: 5px 10px;
}
table, tr, td, th {
    border: 1px solid #aaa;
}

