/* Geral */

* {
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
}

.container-header{
    background-color: #f1f1f1;
}

.btn-wrap{
    text-align:center;
}

/* Especifico da página projectNEW */

.etapa {
    margin-left: 3%;
    margin-bottom: 2%;
}

.form-input-text, .form-input-number, .form-input-file, .form-text-area{
    width:100%;
}

.submit-msg {
    display:none;
    text-align: center;
    width:100%;
    padding: 4px;
    border-radius: 4px;
    position: relative;
    margin-top: 10px;
}

#errormsg, #errormsgfb {
    background: rgb(255, 72, 72);
}

#successmsg, #successmsgfb {
    background: rgb(167, 255, 80);
}


.form-label-title{
    font-weight: 600;
}

#removeEtapa, #removeEtapa img, #addEtapa, #addEtapa img, #removeEnunciado, #removeEnunciado img{
    width:30px;
    border-radius: 15px;
}

#removeEtapa, #addEtapa, #removeEnunciado{
    cursor:pointer;
}

#removeEtapa img{
    margin-left: 65px;
    position: absolute;
    margin-top: -42px;
}

#removeEtapa img:hover, #addEtapa:hover, #removeEnunciado img:hover{
    background-color:rgb(194, 194, 194);
}

.form-input-number{
    width: unset;
    display: flex;
    min-width: 48%;
}

.form-input-file{
    border-left-color: rgb(124, 124, 124);
}

@media screen and (max-width: 460px) {
    .form-input-number{
        width: 100%;
    }

    .form-input-number:first-of-type{
        margin-bottom: 1%;
    }

    /* p {
        font-size: 15px;
    }

    #etapas-container p, input, table {
        font-size: 14px;
    }    

    input {
        padding: 2px 8px;
    } */
}




.pminmax{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pminmax label{
    min-width:100%;
}

/* Especifico da página project */

#addEnunciadoForm, #form-upload-etapa{
    display: none;
}

#removeEnunciado {
    margin-left: 170px;
    position: absolute;
    margin-top: -83px;
}

.buttons-container input{
    margin:unset;
}

.etapas-info{
    display: none;
}

.etapa-name{
    font-weight: bold;
}

.wrapper input[type="button"] {
    display: inline-flex;
}

.wrapper {
    margin-bottom: 1%;
}

.wrapper input {
    margin-right: 1%;
}

.wrapper-top input[type="submit"] {
    margin: unset;
    margin-top:15px;
}

#addEnunciado{
    display: none;
}

input.remove{
    background-color: #fc8982;
    margin: unset;

}

input.remove:hover {
    background-color: #ff544b;
}

.container ::-webkit-scrollbar { 
    display: none; 
}

.container table {
    table-layout: fixed;
    width: 100%;
    word-wrap:break-word;
}

.container table, .container table td, .container table th {
    border-collapse: collapse;   
}

#etapa-form, #feedback-form{
    display: none;
}

#etapas-container{
    margin-bottom: 1%;
}

.etapasDIV, .gruposDIV{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.etapasDIV p, .gruposDIV p{
    white-space: normal;
    word-wrap: break-word;
}

.etapasDIV p:first-child, .etapasDIV p:nth-child(2){
    width:45%;
}

.etapasDIV p:nth-child(2){
    text-align: left;
}

.etapasDIV p:nth-child(3){
    width: 10%;
}

/* grupos / etapas */

.gruposDIV p:first-child {
    width: 20%;
}

.gruposDIV p:nth-child(2) {
    width: 70%;
    text-align: center;
}

.gruposDIV p:nth-child(3) {
    width: 10%;
}

#etapas-container input[type="button"],  #grupos-container input[type="button"] {
    margin:unset;
}

@media screen and (max-width: 400px) {
    .etapasDIV, .gruposDIV{
        display: block;
        justify-content: unset;
        flex-wrap: unset;
    }

    .etapasDIV p:first-child, .etapasDIV p:nth-child(2), .etapasDIV p:nth-child(3), 
    .gruposDIV p:first-child, .gruposDIV p:nth-child(2), .gruposDIV p:nth-child(3){
        width:100%;
        text-align: center;
    }

    #etapas-container input[type="button"], #grupos-container input[type="button"]{
        margin: 20px auto;
    }

}

#confirmFeedback{
    display: none;
}

#opennewEtapa{
    margin-bottom: 30px;
}


  /* -------------------------------- 
                                    /
                POPUP               /
                                    /
  -------------------------------- */

.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-popup-container {
    position: absolute;
    width: 90%;
    left: 50%;
    top: 50%;
    max-width: 400px;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;  
}

.cd-popup-container p {
    padding: 3em 1em;
}

.cd-popup-container .cd-buttons:after {
    content: "";
    display: table;
    clear: both;
}

.cd-popup-container .cd-buttons li {
    float: left;
    width: 50%;
    list-style: none;
}

.cd-popup-container .cd-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.cd-popup-container .cd-buttons li:first-child a {
    background: #fc7169;
    border-radius: 0 0 0 .25em;
}

.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
    background-color: #fc8982;
}

.cd-popup-container .cd-buttons li:last-child a {
    background: #b6bece;
    border-radius: 0 0 .25em 0;
}

.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
    background-color: #c5ccd8;
}

.cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    cursor:pointer;
}

.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
}

.cd-popup-container .cd-popup-close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}

.cd-popup-container .cd-popup-close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}
.cd-buttons a {
    text-decoration: none;
}

.cd-popup ul, .cd-popup li {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
