.button {
    background-color: #b3b3b3; 
    color: black;
    padding: 0.5%;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
    color: rgb(235, 235, 235);
}

.form-container{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    padding: 2%;
    width: 100%;
    background-color: #EDEDED;
}

main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

#card_info {
    width: 30%;
    height: 20%;
    font-size: 20px;
    display: inline-block;
    margin-left: 2%;
    cursor: pointer;
}

#card_info:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
    box-shadow: 2px 4px 24px 1px rgba(0,0,0,0.54);
}

#card_info img {
    position: relative;
    width: 100%;
    height: 80%;
}

.subject {
    background-color: white;
    position: relative;
    font-size: 0.8em;
}

.subject div {
    margin-left: 5%;
    display: flex;
}

#title {
    font-size: 0.7em;
    color: grey;
}

#header {
    display: inline-block;
}

#header h1 {
    float: left;
}

#edit_button {
    margin-top: -23%;
    float: left;
    margin-left: 108%;
    padding: 2%;
}

.textarea {
    width: 100%;
    height: 15%;
}

#save_button {
    display: none;
    position: relative;
    float: right;
    margin-top: 1%;
}

.message {
    background-color: rgb(106, 192, 66, 0.7);
    text-align: center;
    border-radius: 5px;
    float: left;
    width: 90%;
    margin-left: 141%;
    margin-top: -23%;
    padding: 2%;
    display: none;
}

#message_hour {
    margin-top: -16%;
    margin-left: 100%;
    padding: 1.5%;
}

#summary {
    white-space: pre;
}

#hours_header {
    display: inline-block;
}

#edit_button_hours {
    margin-top: -24%;
    float: left;
    margin-left: 110%;
    padding: 2%;
}

#hours_inputs {
    display: flex;
}

#hours_inputs input:required:valid {
    border-left-color: palegreen;
}

#hours_inputs input:invalid {
    border-left-color: salmon;
}

input, select {
    border: 1px solid white;
    border-left: 3px solid;
    border-radius:5px;
    padding:4px;
    width: 100%;
    transition: .5s ease-out;
}

select {
    border-left: 3px solid palegreen;
}

#remove_hour, #remove_hour img, #add_hour, #add_hour img{
    width:30px;
    border-radius: 15px;
}

#remove_hour, #add_hour{
    cursor:pointer;
    height: 0%;
    margin-top: -1%;
    z-index: 2;
}

#remove_hour:hover, #add_hour:hover{
    background-color:rgb(194, 194, 194);
}

#remove_hour {
    margin-left: 1%;
    visibility: hidden;
}

#element {
    position: relative;
    width: 25%;
    padding: 1%;
    margin-left: -8%;
    margin-right: 9%;
}

#hour_inputs label {
    display:block;
}

#save_button_hours {
    display: none;
    float: right;
    margin-top: -31%;
}