/* //////////////////////////////////////////////////////////////
//                         HEADER
////////////////////////////////////////////////////////////// */

.header {
    display: inline-block;
}

.header h1 {
    float: left;
}

/* //////////////////////////////////////////////////////////////
//                         GLOBAL
////////////////////////////////////////////////////////////// */

.button {
    margin: 20px auto;
    background-color: #ffffff;
    color: #1e2c26;
    border: 1px solid #3e5d4f;
}

.form-container{
    padding: 2%;
    width: 100%;
}

.message {
    background-color: rgb(106, 192, 66, 0.7);
    text-align: center;
    border-radius: 5px;
    float: left;
    width: 90%;
    margin-left: 141%;
    margin-top: -23%;
    padding: 2%;
    display: none;
}

.textarea {
    width: 100%;
    height: 15%;
}

input {
    margin-left: 0% !important;
}

select, textarea {
    border-left: 3px solid #42d542;
}

/* //////////////////////////////////////////////////////////////
//                         SUMÁRIO
////////////////////////////////////////////////////////////// */

.summary {
    white-space: pre;
}

#save_button {
    display: none;
    position: relative;
    float: right;
    margin-top: 1%;
}

#edit_button {
    margin-top: -21%;
    float: left;
    margin-left: 108% !important;
}

.buttons {
    display:inline-block;
}

.forum {
    margin-right: 5%;
    float: left;
}

.studentsList_button {
    float: left;
    margin-top: -27% !important;
    margin-left: 40% !important;
}

/* //////////////////////////////////////////////////////////////
//                         PROJETOS
////////////////////////////////////////////////////////////// */

.projetos {
    display: flex;
    width: 50%;
    margin-top: 2%;
}

.projetos a {
    margin-right: 1%;
}

/* //////////////////////////////////////////////////////////////
//                     HORÁRIO DE DÚVIDAS
////////////////////////////////////////////////////////////// */

.hours_header {
    display: inline-block;
}

.hours_inputs {
    display: flex;
}

.hour_inputs label {
    display:block;
}

.hours_inputs input:required:valid {
    border-left-color: #42d542;
}

.hours_inputs input:invalid {
    border-left-color: salmon;
}

.remove_hour, .remove_hour img, .add_hour, .add_hour img{
    width:30px;
    border-radius: 15px;
}

.remove_hour, .add_hour{
    cursor:pointer;
    height: 0%;
    margin-top: -1%;
    z-index: 2;
}

.remove_hour:hover, .add_hour:hover{
    background-color:rgb(194, 194, 194);
}

.remove_hour {
    margin-left: 1%;
    visibility: hidden;
}

#edit_button_hours {
    margin-top: -22%;
    float: left;
    margin-left: 110% !important;
}

#message_hour {
    margin-top: -24%;
    margin-left: 150%;
    padding: 2%;
}

#save_button_hours {
    display: none;
    margin-top: -22%;
    float: left;
    margin-left: 140% !important;
}

.element {
    position: inherit;
    width: 20%;
    padding: 1%;
    margin-left: -6%;
    margin-right: 8%;
}

.minnuminput, .maxnuminput {
    width: 80%;
}

/* //////////////////////////////////////////////////////////////
//                     PÁGINA CADEIRASSSS
////////////////////////////////////////////////////////////// */

.card_info {
    width: 30%;
    height: 25%;
    font-size: 20px;
    display: inline-block;
    margin-left: 2%;
    cursor: pointer;
}

.card_info:hover {
    background-color:grey;
}

.card_info img {
    position: relative;
    width: 100%;
    height: 69%;
}

#title {
    font-size: 0.7em;
    color: grey;
}

.subject {
    background-color: white;
    position: relative;
    font-size: 0.8em;
    min-height: 30%;
    height: auto;
}

.subject div {
    margin-left: 5%;
    display: flex;
}