.button {
    background-color: #b3b3b3; 
    color: black;
    padding: 0.5%;
    border-radius: 5%;
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
    color: rgb(235, 235, 235);
}

.form-container{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    padding: 2%;
    width: 100%;
    background-color: #EDEDED;
}

main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

#card_info {
    width: 30%;
    height: 20%;
    font-size: 20px;
    display: inline-block;
    margin-left: 2%;
    cursor: pointer;
}

#card_info:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
    box-shadow: 2px 4px 24px 1px rgba(0,0,0,0.54);
}

#card_info img {
    position: relative;
    width: 100%;
    height: 80%;
}

.course {
    background-color: white;
    position: relative;
    width: 100%;
    font-size: 0.8em;
}

.course div {
    margin-left: 5%;
    display: flex;
}

#title {
    font-size: 0.7em;
    color: grey;
}