/* Especifico da página projectNEW */

.etapa {
    margin-left: 3%;
    margin-bottom: 2%;
}

.form-input-text, .form-input-number, .form-input-file, .form-text-area{
    width:100%;
}

.submit-msg {
    display:none;
    text-align: center;
    width:98%;
    padding: 4px;
    border-radius: 4px;
    position: relative;
    margin-top: 10px;
}

#errormsg, #errormsgfb, #errormsgenunc, #errormsgedit {
    background: rgb(255, 72, 72);
}

#successmsg, #successmsgfb, #successmsgenunc {
    background: rgb(167, 255, 80);
}


.form-label-title{
    font-weight: 600;
}

#addEtapa, #addEtapa img, .labelRemove, .labelRemove img{
    width:30px;
    border-radius: 15px;
}

#addEtapa, .labelRemove{
    cursor:pointer;
}

#removeEtapa img{
    margin-left: 65px;
    position: absolute;
    margin-top: -42px;
}

#addEtapa:hover, .labelRemove img:hover{
    background-color:rgb(194, 194, 194);
}

.form-input-number{
    width: unset;
    display: flex;
    min-width: 48%;
}

.form-input-file{
    border-left-color: rgb(124, 124, 124);
}

@media screen and (max-width: 460px) {
    .form-input-number{
        width: 100%;
    }

    .form-input-number:first-of-type{
        margin-bottom: 1%;
    }
}


.pminmax{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pminmax label{
    min-width:100%;
}

/* Especifico da página project */

#addEnunciadoForm, #form-upload-etapa{
    display: none;
}

#removeEnunciado {
    margin-left: 115px;
    width: 30px;
    margin-top: -73px;
    position: absolute;
}

#removeEnunciadoProj {
    width: 30px;
    margin-top: -48px;
    margin-left: 115px;
}



@media screen and (max-width: 768px) {
    #removeEnunciadoProj{
        float:none;
        margin-top:5px;
        width:unset;
    }
}


.buttons-container input{
    margin:unset;
}

.wrapper input[type="button"] {
    display: inline-flex;
}

.wrapper {
    margin-top: 4%;
    margin-bottom: 1%;
}

.wrapper input {
    margin-right: 1%;
}

.wrapper-top input[type="submit"] {
    margin: unset;
    margin-top:15px;
}

#addEnunciado{
    display: none;
}

input.remove{
    background-color: #fc8982;
    margin: unset;

}

input.remove:hover {
    background-color: #ff544b;
}

#confirmFeedback{
    display: none;
}

#opennewEtapa{
    margin-bottom: 30px;
}

#enunciado_label a{
    width: 100%;
    word-wrap: break-word;
}

#enunciado_h3{
    word-wrap: break-word;
}



/* botoes pop up */
@media screen and (max-width: 660px) {
    .wrapper input[type="button"] {
        margin-left: auto;
        width: 160px;
        margin-right: auto;
        display:block;
    }
}


