/* Geral */

* {
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
}

.container-header{
    background-color: #f1f1f1;
}

.btn-wrap{
    text-align:center;
}

.etapas-info{
    display: none;
}

.etapa-name{
    font-weight: bold;
}

.container ::-webkit-scrollbar { 
    display: none; 
}

.container table {
    table-layout: fixed;
    width: 100%;
    word-wrap:break-word;
}

.container table, .container table td, .container table th {
    border-collapse: collapse;   
}

#etapa-form, #feedback-form, #etapa-form-edit{
    display: none;
}

#etapas-container{
    margin-bottom: 1%;
}

.etapasDIV, .gruposDIV{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.etapasDIV p, .gruposDIV p{
    white-space: normal;
    word-wrap: break-word;
}

.etapasDIV p:first-child{
    width:45%;
}

.etapasDIV p:nth-child(2){
    width:40%;
}

.etapasDIV p:nth-child(2){
    text-align: left;
}

.etapasDIV p:nth-child(3){
    width: 15%;
}

/* grupos / etapas */

.gruposDIV p:first-child {
    width: 20%;
}

.gruposDIV p:nth-child(2) {
    /* width: 70%; */
    width: 80%;
    text-align: center;
}

/* .gruposDIV p:nth-child(3) {
    width: 10%;
} */

#etapas-container input[type="button"],  #grupos-container input[type="button"] {
    margin:unset;
}

@media screen and (max-width: 440px) {
    .etapasDIV, .gruposDIV{
        display: block;
        justify-content: unset;
        flex-wrap: unset;
    }

    /* retirei  .gruposDIV p:nth-child(3), se for para meter o Chat voltar a meter*/
    .etapasDIV p:first-child, .etapasDIV p:nth-child(2), .etapasDIV p:nth-child(3), 
    .gruposDIV p:first-child, .gruposDIV p:nth-child(2){
    /* , .gruposDIV p:nth-child(3){ */
        width:100%;
        text-align: center;
    }

    #etapas-container input[type="button"], #grupos-container input[type="button"]{
        margin: 20px auto;
    }

}