/* Geral */

* {
    font-family: 'Poppins', sans-serif;
}


.gruposDIV a {
    color: rgb(62, 93, 79);
    text-decoration: none;
    font-weight: 800;
}

.gruposDIV a:hover{
    color: rgb(0, 177, 77);
}

.form-input-text {
    background: #e9e9e9;
}

label {
    word-break: break-word;
}

.form-label-title{
    font-weight: 600;
}

.p_expired{
    color:rgb(255, 72, 72);
}

.submit.success, #success-popup{
    background: rgba(106, 192, 66, 0.7);
}

.submit.error, #error-popup, #errormsg{
    background: rgb(255, 72, 72);
    color:white;
}

.submit{
    display:none;
    text-align: center;
    width: 30%;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    position: relative;
    float:right;
}

#success-popup{
    margin-top: 18px;
    width:60%;
    padding-top:1px;
    padding-bottom:1px;
}

.container{
    width: 100%;
}

#addEtapa, #addEtapa img, .labelRemove, .labelRemove img{
    width:30px;
    border-radius: 15px;
}

#addEtapa, .labelRemove{
    cursor:pointer;
}

#removeEtapa img{
    margin-left: 65px;
    position: absolute;
    margin-top: -42px;
}

#addEtapa:hover, .labelRemove img:hover{
    background-color:rgb(194, 194, 194);
}

.container-header{
    background-color: #f1f1f1;
}

.btn-wrap{
    text-align:center;
}

.etapas-info{
    display: none;
}

.etapa-name{
    font-weight: bold;
}

.container ::-webkit-scrollbar { 
    display: none; 
}

.container table {
    table-layout: fixed;
    width: 100%;
    word-wrap:break-word;
}

.container table, .container table td, .container table th {
    border-collapse: collapse;   
}

.span-name{
    margin-left: 5px;
}

.form-input-file{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.etapasDIV, .gruposDIV, .etapasDIVP{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.etapasDIV p, .gruposDIV p, .etapasDIVP p{
    white-space: normal;
    word-wrap: break-word;
}

.etapasDIV p:first-child{
    width:45%;
    font-size: 17px;
}

.etapasDIV p:nth-child(2){
    width:40%;
    text-align: left;
}

.etapasDIV p:nth-child(3){
    width: 15%;
}

/* grupos / etapas */

.gruposDIV p:first-child {
    width: 30%;
}

.gruposDIV p:nth-child(2) {
    width: 70%;
}

.wrapper input[type="button"] {
    width: unset;
    display: inline; 
}

.cd-popup-container > div {
    padding:unset;
}

.cd-popup-container > .submit-msg, .cd-message > .submit-msg {
    display:none;
    text-align: center;
    width: 100%;
    padding: 8px;
    position: relative;
    margin-top: 10px;
}

#feedback-div > p{
    text-align: left;
}

.wrapper input {
    margin-right: 10px;
}

.wrapper-top input[type="submit"] {
    margin: unset;
    margin-top:15px;
}

#enunciado_h4{
    word-wrap: break-word;
}

#enunciado_label a{
    width: 100%;
    word-wrap: break-word;
}


#etapas-container input[type="button"],  #grupos-container input[type="button"] {
    margin:unset;
}

.overlay {
    overflow-y: scroll;
}

/* input type file */
.input-label {
    margin: 0 auto;
    text-align: center;
    color: black;
    line-height: 30px;
    width: 240px;
    display: block;
    border: 2px solid #15435a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
  }

.input-label:hover{
    color: rgba(0, 0, 0, 0.842);
    border-color: rgb(85, 150, 120);
}

.input-label img {
    width: 12px;
}


.cd-message > h3, .cd-message > label,
.cd-message > h3, .cd-message > label {
    text-align:left;
}

.input-label, #enunc-label{
    text-align: center !important;
}

.cd-message > h3, .cd-message > h3 {
    color: #15435a;
}

.cd-message > label, .cd-message > label {
    color: black;
}

#container-geral{
    padding-top: 1px;
}

#forms > form{
    padding-left: 15px;
    padding-right: 15px;
}

.button-popup{
    font-weight: unset !important;
    border: unset !important;
    margin:unset !important;
    padding:unset !important;
    background-color: #15435a !important;
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 0 0 0 .25em;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.cd-buttons > li:first-child a, .cd-buttons > li:first-child input {
    background: #15435a;
}

.form-input-file{
    width: unset !important;
}


/* date picker */

.wdp .wdp-container .wdp-date-container ul li.wdp-active:before, .wdp .wdp-container .wdp-header, .wdp .wdp-container .wdp-hour-container .wdp-hour-el-container input{
    background: #15435a !important;
    cursor: pointer;
}

.wdp .wdp-container .wdp-header svg {
    fill: #fff !important; 
}


.date-picker-label input {
    cursor:pointer;
}

/* botoes pop up */
@media screen and (max-width: 750px) {
    .cd-popup-container{
        width: 95%;
    }

    .content h3{
        font-size: 16px;
    }

    .content label {
        font-size: 14px;
    }
}


@media screen and (max-width: 340px){
    .wrapper input[type="button"] {
        width: 80px;
        margin-right: 2px;
        font-size: 12px;
    }

    .wrapper input {
        margin: unset;
    }
}


@media screen and (max-width: 440px) {
    .etapasDIV, .gruposDIV{
        display: block;
        justify-content: unset;
        flex-wrap: unset;
    }

    .etapasDIV p:first-child, .etapasDIV p:nth-child(2), .etapasDIV p:nth-child(3), 
    .gruposDIV p:first-child, .gruposDIV p:nth-child(2), .delete-p{
        width:100%;
        text-align: center;
    }

    #etapas-container input[type="button"], #grupos-container input[type="button"]{
        margin: 20px auto;
    }

}

@media screen and (max-width: 425px) {
    .submit {
        width: 100%;
    }
}