#editCourse-form{
    display:none;
}

.msgErro {
    background: red;
}

#search_text_profs, #search_text_students{
    width: 50%;
    margin-top: 3%;
    background-color: white;
}

.informacaoUsers{
    margin-bottom: 3%;
}

.content input[type="text"], .content textarea, .content input[type="password"] {
    background: #e9e9e9;
    width: 50%;
}

#editUser-form-submit{
    background-color: #154e5a;
}

.editUser_inputs{
    padding: 10px;
    margin: 20px auto;
    width: 90%;
}

.notSmallInput {
    background-color: white;
}

.adminTable{
    display: none;
}

#msgStatus{
    background-color: rgba(106, 192, 66, 0.7);
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 3px;
}

