#cursos_register_UnidCurricular{
    display: none;
}

input[type="submit"]{
    margin-top: 5%;
}

.form-input-text, .form-input-file, .form-text-area, .notSmallInput{
    width:100%;
}

#addStudent-form input[type='text']{
    /* width: 35%; */
}

#bigDiv{
    display: flex;
}
#rightSideAlunoContainer{
    width: 60%;
    text-align: center;
}
#leftDivAddStudent{
    width: 40%;
}

.container {
    width: 100%;
}

#subject-container{
    margin-top: 3%
}

#subject_list{
    margin-top: 2%;
    margin: auto;
}

label[for="curso"]{
    display: none;
}

#Consultar_Cadeiras_Faculdade{
    margin-right: 1%;
    margin-bottom: 1%;
}


#Consultar_Cadeiras_Faculdade, #Consultar_Cadeiras_Curso, #Consultar_Cadeiras_Ano {
    display: inline;
    width: 48%;
}

#register-cadeiras-form input, #register-cadeiras-form textarea, #register-cursos-form input, #addStudent-form input{
    background-color: white;
}

#msgErro{
    background-color: rgb(255, 72, 72);
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 3px;
}

#msgStatus{
    background-color: rgba(106, 192, 66, 0.7);
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 3px;
}

#editSubject-form-submit, #editCourse-form-submit {
    background-color: #3e5d4f;
}

.editSubjects_inputs, .editCourse_inputs{
    padding: 10px;
    margin: 20px auto;
    width: 90%;
}

.infoCadeira{
    cursor: pointer;
}

#alunos-subject-sugestao p{
    margin:1%;
    /* width: 50%; */
}

.addSearchStudent{
    display: inline-block;
}

#alunos-subject-sugestao input[type=button]{
    margin: 10px 0px 0px 15px;
    text-align: right; 
}
