#register-faculdade-form input[type=text] {
    width: 100%;
    background-color: white;
}

#register-faculdade-form input[type=submit] {
    width: unset;
}

#msgErro{
    background-color: rgb(255, 72, 72);
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 3px;
}

#msgStatus{
    background-color: rgba(106, 192, 66, 0.7);
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 3px;
}