#register-faculdade-form input[type=text] {
    background-color: white;
}

.notSmallInput{
    width:100%;
    background-color: white;
}

#register-faculdade-form input[type=submit] {
    width: unset;
}
