main > * {
    margin: 10px;
}

.admin-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;  
    margin: -10px; 
}
.admin-stats-window {
    margin: 20px;
    min-width: 300px;
}
.admin-stats-window > * {
    padding: 5px 8px;
}
.admin-stats-title {
    border-bottom: 1px solid #aaa;
    text-align: center;
    padding: 5px 8px;
    font-weight: 600;
    color: #333;
}