main > * {
    margin: 10px;
}

.form-container{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    padding: 2%;
    width: 100%;
    background-color: #EDEDED;
}

main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}


#importSide{
    float: left;
    margin-left: 15%;
    margin-right: 15%;
    width: 25%;
}

#exportSide{
    margin-left: 10%;
    margin-right: 10%;
    
}

.admin-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;  
    margin: 0px; 
}
.admin-stats-window {
    border: 1px solid #aaa;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    min-width: 300px;
    overflow: hidden;
}
.admin-stats-window > * {
    padding: 5px 8px;
}

.admin-stats-title {
    border-bottom: 1px solid #aaa;
    text-align: center;
}


.admin-stats-btn {
    border-top: 1px solid #ccc;
    text-align: center;
    background-color: #eee;
}
.admin-stats-btn:hover {
    background-color: #ccc;
}
.admin-stats-btn a{
    text-decoration: none;
    color: #000;
}
.admin-stats-btn a div{
    width: 100%;
}