.adminTable{
    width: 100%;
    text-align: center;
    /* margin: auto; */
}

.adminTable td {
    padding: 5px 13px;
    font-size: 14px;
}

/* .container h2 {
    margin: 5px 10%;
} */

.adminTable th{
    background-color: #ccc;
    padding: 15px 0px;
}

.adminTable tr:hover{
    background-color: #eee
}

#student-container.adminTable td, #student-container .adminTable th,
#teacher-container.adminTable td, #teacher-container .adminTable th,
#college-container.adminTable td, #college-container .adminTable th{
    width: 15%;
}

#suggestedDate {
    background-color:#15435a38;
    opacity: 0.8;
}


#descriptionTA {
    max-width: 100%;
}


#msgErro, #msgErroDelet0, #msgErroEditar{
    background-color: rgb(255, 72, 72);
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 3px;
}

#msgStatus, #msgStatusDelete{
    background-color: rgba(106, 192, 66, 0.7);
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 3px;
}