

input{
    background-color: white !important;
}

.flex-section {
    margin: 10px -20px;
}

.admin-users-window {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.admin-users-window-export{
    padding: 20px;
    box-sizing: border-box;
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

@media(max-width: 767px){
    .admin-users-window,
    .admin-users-window-export {
        width: 100%;
    }
}

.admin-users-window .title, .admin-users-window-export .title{
    border-bottom: 1px solid #aaa;
    text-align: center;
    padding: 5px 8px;
    font-weight: 600;
    color: #333;
}

#file_grupos_admin{
    width: 100%;
    background-color: transparent;
}



.admin-users-window select, .admin-users-window-export select {
    padding: 5px;
}

.admin-users-window input,
.admin-users-window select, .admin-users-window-export input,
.admin-users-window-export select {
    width: 100%;
}

.admin-users-window input[type=submit],
.admin-users-window-export input[type=submit] {
    width: unset;
}

.admin-users-window input[type=file],
.admin-users-window-export input[type=file] {
    background-color: transparent;
}

#exportInfo {
    border-bottom: 1px solid #aaa;
}

input#myfile {
    margin-top: 9%;
}

#cursoUser, #cadeirasUser, #selectedCadeiras{
    display: none;
}

select{
    width: 300px;
}

#msgErro, #collegeStatus, #collegeStatus1, #importError{
    background-color: rgb(255, 72, 72);
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 3px;
}

#collegeStatus{
    margin-top:10px;
    display: none;
}

#msgStatus, #importSuccess{
    background-color: rgba(106, 192, 66, 0.7);
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 3px;
}

#register-form label[for='academicYearUser'], #register-form label[for='faculUser'], #registerAnoUser, #registerUserFacul{
    display: none;
}

#registerUserCadeira select:checked{
    color:rgba(106, 192, 66, 0.7);
}

#showDemo, #showDemo2, #showDemo3, #showDemo4 {
    margin-left: 3%;
    font-size: 10px;
    text-transform: uppercase;
    color: #15435a;
    vertical-align: middle;
}

#collegesDisplay1, #yearsDisplay1, #teachersImport{
    display: none;
}

#fullW{
    width: 100%;
}

#removePadding{
    padding: 0 0;
    font-weight: bold;
}

#closePopUp {
    background: #15435a;
}

img[alt="csv_example"] {
    padding: 1% 0 3% 0;
}

.tirarCadeira{
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
#selectedCadeiras h4 {
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 13px;
}
.selectedcadeiras{
    border-radius: 5px;
    display: inline-block;
    margin: 2px;
    padding: 0px 6px 1px;
    font-size: 13px;
    background: white;
}

.tirarCadeira .tooltiptext {
    display: inline-block;
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin-left: 10px;
    bottom: 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
.tirarCadeira:hover .tooltiptext {
    visibility: visible;
}

#cadeiras{
    max-width: 100%;
    min-width: 33%;
    padding: 3px;
    background-color: #ddd;
    border-radius: 5px;
}

/* Global style */

.btn-tertiary {
    color: #555;
    padding: 0;
    width: 300px;
    margin: auto;
    display: block;
    border: 2px solid #555;
}

 
.input-file, .input-file2  {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      z-index: -1;
}

select#coursesDisplay1 {
    margin-top: 4%;
}

.double_input{
    width: calc(100% + 30px);
    display: flex;
    justify-content: space-between;
    margin: 0px -15px;
}

.double_input input {
    width: 100%;
}
.double_input label {
    width: 100%;
    padding: 0px 15px;
}

#csvExample {
    width: 420px;
    height: 190px;
}


@media(max-width: 494px){

    #csvExample {
        width: 300px;
        height: 150px;
    }
}

@media(max-width: 331px){
    #csvExample {
        width: 266px;
    }
}

form#importFromCsv {
    display: none;
}
.cd-message form {
    width: 96%;
}
.form-input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    /* position: absolute; */
    z-index: -1;
}
.input-label {
    margin: 0 auto;
    text-align: center;
    color: black;
    line-height: 30px;
    display: block;
    border: 2px solid #15435a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    text-align: center !important;
    background-color: white;

}
.input-label img {
    margin-right: 5px;
    width: 12px;
}   
.span-name {
    margin-left: 5px;
}

#PesquisarAlunos, #PesquisarProfessores{
    display: inline-block;
}

#mobileMsg{
    display: none;
    font-size: 15px;
}