main > * {
    margin: 10px;
}

h4 a{
    color: #78837e;
    text-decoration: none;
}

.flex-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 0px;
}

.admin-users-window {
    margin: 10px;
    min-width: 300px;
}

.admin-users-window .title {
    border-bottom: 1px solid #aaa;
    text-align: center;
    padding: 5px 8px;
    font-weight: 600;
    color: #333;
}

.admin-users-window form {
    width: 100%;
}

.admin-users-window label {
    padding: 5px 10px 5px;
    margin: 0px;
}
.admin-users-window select {
    padding: 5px;
}

.admin-users-window input,
.admin-users-window select {
    width: 100%;
}

.admin-users-window input[type=submit] {
    width: unset;
}

.admin-users-window input[type=file] {
    background-color: transparent;
}

#exportInfo {
    border-bottom: 1px solid #aaa;
}