.file-div input[type=file] {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-div {
    width: 95%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background: #3e5d4f;
    opacity: .6;
    border: 2px dashed white;
    text-align: center;
    transition: white 0.3s ease-in-out;
}