.clickable-title {
    width: fit-content;
    margin: 0px 0px 10px;
}
.clickable-title h2 {
    margin-bottom: 5px;
}
.clickable-title a {
    color: black;
    text-decoration: none;
}
.clickable-title a:hover {
    color: #999;
}

p.small-font {
    font-size: 13px;
}

input[type="text"], textarea, input[type="datetime-local"], select {
	width: 100%;
}

input[type="datetime-local"], select {
	background-color: #e9e9e9;
}

.createTask {
	display: none;
	width: 40%;
}

#btnArea p {
    text-align: center;
}

select {
    border-left: 3px solid #ff0000;
}

.message {
	background-color: rgb(106, 192, 66, 0.7);
    text-align: center;
    border-radius: 5px;
    width: 280px;
    margin-bottom: 0%;
    margin-top: 1%;
	padding: 0.5%;
    opacity: 0;
    height: 23px;
}

.taskInfo {
    margin-left: 0 !important;
}

.infoTask_inputs {
    text-align: initial;
    padding: 10px;
    margin: 20px auto;
    width: 90%;
}

.cd-popup-container > div {
    padding: unset;
}

#container-geral {
    padding-top: 1px;
}

.wrapper input[type="button"] {
    display: inline;
    width: unset;
}

.wrapper input {
    margin-right: 10px;
}

input.remove {
    background-color: #fc8982;
    margin: unset;
}

.start_date_button, .end_date_button {
    width: auto !important;
    margin-left: 0 !important;
}

input.remove:hover {
    background-color: #ff544b;
}

#newTarefa {
    margin-left: 0 !important;
}

table, tr, td, th {
    border: none !important;
    background-color: #efefef;
}

table {
    border: none !important;
    border-collapse: collapse !important;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1.5px solid #a5a5a5 !important;
}

.addTask_inputs, 
.editTask_inputs {
    padding: 10px;
    margin: 20px auto;
    width: 90%;
}

#addTask-form-submit,
#editTask-form-submit {
    background-color: #3e5d4f;
}

option[value=""] {
    background-color: #efefef;
}

.container2 {
    margin-top: 1%;
}

@media only screen and (max-width: 770px) {
	.message {
		width: 50%;
	}
}

@media only screen and (max-width: 430px) {
    .popup {
        width: 80%;
    }

    .message {
		margin-top: -4%;
        padding: 1.5%;
    }

    .taskinfo {
        margin-top: 0 !important;
    }
    
    tr:first-child {
        display: none;
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px !important;
        left: -9999px !important;
    }

    tr {
      margin: 0 0 1rem 0;
      border-bottom: 1px solid #a5a5a5 !important;
    }
    
    td {
        /* Behave  like a "row" */
        border: none !important;
        position: relative;
        padding-left: 50% !important;
        height: auto;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 4px !important;
        left: 6px !important;
        width: 45% !important;
        padding-right: 10px !important;
        white-space: nowrap;
    }

    /*
    Label the data
You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
    */
    td:nth-of-type(1):before { content: "Tarefa"; font-weight: bold;}
    td:nth-of-type(2):before { content: "Membro"; font-weight: bold;}
    td:nth-of-type(3):before { content: "Completo"; font-weight: bold;}
	td:nth-of-type(4):before { content: "Ver mais"; font-weight: bold;}
}

@media only screen and (max-width: 375px) {
    .message {
        width: 97%;
        margin-top: 2%;
    }

    tr:first-child {
        display: block;
        visibility: hidden;
        margin-bottom: -20%;
    }
}

.add-event-icon {
    width: 25px;
    margin: 0px 4px -4px;
    cursor: pointer;
}




.fichNumb p {
    font-size: 12px;
    margin-top: -10px;
}