#submissionProjButton{
    margin:unset;
}

#form-submit-etapa{
    display: none;
}

#erro-entrega, #no-group-erro{
    background: rgb(255, 72, 72);
}

.myGroupDiv {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.myGroupDiv p{
    white-space: normal;
    word-wrap: break-word;
}

.myGroupDiv p:first-child {
    width: 30%;
}

.myGroupDiv p:nth-child(2) {
    width: 60%;
}

.myGroupDiv p:nth-child(3) {
    width: 10%;
}


@media screen and (max-width: 440px) {
    .myGroupDiv{
        display: block;
        justify-content: unset;
        flex-wrap: unset;
    }

    .myGroupDiv p:first-child, .myGroupDiv p:nth-child(2), .myGroupDiv p:nth-child(3){
        width:100%;
        text-align: center;
    }

    #grupos-container input[type="button"]{
        margin: 20px auto;
    }

}