#submissionProjButton{
    margin:unset;
}

#form-submit-etapa{
    display: none;
}

#erro-entrega{
    background: rgb(255, 72, 72);
}

.myGroupDiv {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.myGroupDiv p{
    white-space: normal;
    word-wrap: break-word;
}

.myGroupDiv p:first-child {
    width: 75%;
}

.myGroupDiv p:nth-child(2) {
    width: 15%;
}
